* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(254, 250, 240, 1);
  --secondary: rgba(255, 228, 132, 1);
  --heading: #000336;
  --description: #5a6473;
}

html {
  font-size: 62.5%;
}

body,
input,
button,
label {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

/* ========== COMMON ========== */
a {
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sign-in-block {
  width: 1240px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 210px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

/* ========== INFO BLOCK ========== */
.content .info-block {
  position: relative;
  width: 37%;
  height: 100%;
  padding: 20px;
  background-color: var(--secondary);
}

.content .logo-name {
  width: 80px;
  margin-left: -10px;
}

.content .heading {
  width: 410px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 3.7rem;
  line-height: 1.19;
  color: #000336;
}

.content .heading strong {
  font-size: 4rem;
}

.content .desc {
  width: 400px;
  display: inline-block;
  max-width: 530px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--description);
}

.content .info-block .hero {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 350px;
  transform: rotate(15deg);
}

/* ========== FORM BLOCK ========== */
.content .form-block {
  width: 63%;
  padding: 120px;
  background-color: #fff;
}

.form-block .sub-heading {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1;
  color: #000339;
}

/* ========== SOCIAL ACTION ========== */
/*.form-block .social-action {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-top: 30px;*/
/*}*/

/*.social-action .social-cta {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  border: 2px solid #a1a1a1;*/
/*  border-radius: 6px;*/
/*  padding: 10px 13px;*/
/*}*/

/*.social-action .social-cta:hover {*/
/*  opacity: 0.5;*/
/*}*/

/*.form-block .social-cta .icon {*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  border-radius: 6px;*/
/*  object-fit: cover;*/
/*}*/

/*.form-block .social-cta .description {*/
/*  margin-left: 15px;*/
/*  font-weight: 500;*/
/*  font-size: 1.4rem;*/
/*  color: var(--description);*/
/*}*/

/* ========== FORM BLOCK ========== */
.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-block .sign-in-form {
  /*position: relative;*/
  margin-top: 50px;
}

/*.form-block .form::before {*/
/*  position: absolute;*/
/*  content: "- OR -";*/
/*  top: -45px;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*  font-weight: 600;*/
/*  font-size: 1.5rem;*/
/*  line-height: 2;*/
/*  color: #000339;*/
/*}*/

.form-block .sign-in-form input,
.form-block .sign-in-form button {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
  color: #000339;
}

.form-block .form-group input {
  border-bottom: 1px solid black;
}

.form-block .sign-in-form .submit-btn {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5;
  border-radius: 6px;
  background-color: var(--secondary);
}

.form-block .sign-up-option {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  color: #000339;
}

.form-block .sign-up-option a {
  margin-left: 4px;
  font-weight: 700;
  color: #000339;
}

/* ========== BUTTON LOCKED ========== */
.form:has(:invalid) .submit-btn {
  opacity: 0.3;
  pointer-events: none;
}
