* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(254, 250, 240, 1);
  --heading: #000336;
  --description: #5a6473;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
}

/* COMMON */
a {
  text-decoration: none;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 100px;
  background: var(--heading);
  padding: 13px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}

/* HEADER */
.header {
  background-color: var(--primary);
}

.fixed-header {
  position: sticky;
  top: -10px;
  z-index: 1;
  border-bottom: #ccc solid 2px;
}

.header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .nav-bar ul {
  display: flex;
  gap: 30px;
}

.header .nav-bar li a {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  color: var(--heading);
  padding: 12px 8px;
}

.header .nav-bar li a:hover {
  opacity: 0.5;
}

.header .action-link {
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--heading);
}

.header a:hover {
  opacity: 0.5;
}

/* HERO */
.hero-wrap {
  background: var(--primary);
}

.hero-wrap .body {
  display: flex;
  align-items: center;
}

.hero-wrap .info-block {
  width: 50%;
}

.hero-wrap .title {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.19;
  color: #000336;
}

.hero-wrap .desc {
  display: inline-block;
  max-width: 530px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: var(--description);
}

.hero-wrap .hero-cta {
  margin-top: 20px;
  min-width: 200px;
}

.hero-wrap .hero-cta:hover {
  opacity: 0.5;
}

.hero-wrap .hero-block {
  width: 50%;
}

.hero-wrap .hero {
  width: 100%;
  object-fit: cover;
}

.brand-logo {
  margin-top: -3px;
}

/* BRAND */
.brand {
  margin-top: 35px;
}

.brand .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand .sneaker-logo {
  width: 90px;
}

.brand .row-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.brand .desc strong {
  color: black;
}

.brand .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.brand .images a {
  display: flex;
  align-items: center;
  height: 91px;
  padding: 0 40px;
  border-radius: 12px;
}

.brand .images a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* STATS */
.stats {
  margin-top: 70px;
  padding: 70px 0;
  background-color: rgba(255, 228, 132, 1);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.stats .title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.stats .title:before {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 120px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.stats .desc {
  width: 600px;
  max-width: 100%;
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  text-align: center;
  color: var(--description);
}

.stats .row-qty {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.stats .row-qty .qty {
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .row-qty .qty-desc {
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--description);
}

/* PRODUCTS */
